@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

/*General*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
:root{
    --color1: #27374D;
    --color2: #526D82;
    --color3: #9DB2BF;
    --color4: #DDE6ED;
}
.container{
    width: 1200px;
    box-sizing: border-box;
    padding: 0px 10px;
}

/*Header*/
header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    background: var(--color1);
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .container article h2{
    font-size: 2rem;
    letter-spacing: 1px;
    color: var(--color4);
}
/*Menu de Navegacion*/
header .container menu{
    width: max-content;
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 25px;
}
header .container menu li a{
    display: block;
    text-align: center;
    font-size: 1.05rem;
    text-decoration: none;
    color: #dde6eda9;
    transition: color .3s ease-in;
    transform-origin: center;
}
header .container menu li a:hover{
    color: #dde6ed;
}
header .container menu li:nth-child(1) a{
    color: #dde6ed;
}

/*Comienzo Sec 1*/
.sec1{
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    background-color: #9db2bf8c;
}
.sec1 .container{
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}
.sec1 .container h2{
    width: 100%;
    height: max-content;
    margin-bottom: 30px;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    color: var(--color1);
}
.sec1 .container .tittleDescription{
    width: 550px;
    font-size: 1.15rem;
    color: rgba(26, 24, 24, 0.9);
    text-align: justify;
}

/*Estlios Slider*/
.slider{
    box-sizing: border-box;
    width: 550px;
    position: relative;
    border-radius: 5px;
    border: 15px solid white;
    overflow: hidden;
}
.sliderInside{
    width: max-content;
    position: static;
    display: flex;
    transform: translate(-525px);
}
.sliderInside .sliderImg{
    width: 525px;
    height: calc(550px*9/16);
}
.sliderInside .sliderImg img{
    width: 100%;
    object-fit: cover;
    object-position: top;
}
/*Estilos Flechas*/
.arrowLeft{
    position: absolute;
    top: 50%;
    left: 25px;
    font-size: 2rem;
    border-radius: 1000px;
    background-color: aliceblue;
    transform: translate(-50%, -50%);
    transition: transform .5s ease-in;
    z-index: 10;
    cursor: pointer;
}
.arrowRight{
    position: absolute;
    top: 50%;
    right: -10px;
    background-color: aliceblue;
    border-radius: 1000px;
    font-size: 2rem;
    transform: translate(-50%, -50%);
    transition: transform .5s ease-in;
    z-index: 10;
    cursor: pointer;
}
.arrowLeft:hover, .arrowRight:hover{
    transform: scale(1.05) translate(-50%, -50%);
}