
*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 600;
}
.flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress{
    width: 100%;
    height: 100vh;
    background-color: rgba(245, 222, 179, 0.4);    
}

.progress__box{
    width: 500px;
    height: 100px;
    background-color: rgba(159, 188, 212, 0.849);
    border-radius: 10px;
    padding: 0 30px;
    position: relative;
}
.box__inner{
    display: block;
    width: 400px;
}
#progress__input{
    width: 100%;
    appearance: none;
}
#progress__input::-webkit-slider-thumb{
    appearance: none;
    display: block;
    background: black;
    width: 20px;
    height: 20px;
    border-radius: 1000px;
    margin-top: -6px;
}
#progress__input::-webkit-slider-runnable-track{
    width: 0px;
    height: 7px;
    background-color: rgba(128, 128, 128, 0.329);
    margin-top: -10px;
}
.progress__number{
    margin-left: 20px;
}
.line{
    width: 0%;
    height: 4px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 65px;
    transform: translateY(-50%);
}